.about_page.project_detail
  .row
    .small-10.small-centered.medium-12.columns
      .heading Press and media
  .row
    .small-10.small-centered.medium-12.columns= render partial: 'shared/about_menu'

  .row
    .small-12.columns
      .text
        .excerpt
          - if @pressreleases.empty?
            Sorry, no press releases yet.
          - else
            %ul
              - @pressreleases.each do |pr|
                %li
                  = l pr.published_at.to_date, format: :long
                  = ': '
                  = link_to pr.title, pr

