/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bioart/stylesheets/foundation_and_overrides
 *= require bioart/stylesheets/base
 *= require bioart/stylesheets/homepage
 *= require bioart/stylesheets/pages
 *= require bioart/stylesheets/opencall
 *= require bioart/stylesheets/projects
 *= require bioart/stylesheets/activities
 *= require bioart/stylesheets/posts
 *= require bioart/stylesheets/searches
 *= require slick
 *= require video-js
 *= require jquery-ui
 */

@import 'bioart/stylesheets/foundation_and_overrides';
@import 'bioart/stylesheets/variables';



@font-face {
  font-family: 'Myanmar Sangam MN';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/bioart/fonts/msmn.ttf') format('truetype');
}


.slick-next, .slick-prev {
  height: inherit;
  width: inherit;
  top: 64%;
}
.slick-prev {
  left: -3rem;
  position: absolute;
}

.slick-next {
  right: -3rem;
  position: absolute;
//  &.page {
//    right: 1rem;
//  }
}
.slick-prev:before, .slick-next:before { font-family: sans-serif; font-size: 3em; font-weight: 100; line-height: 1; 
  color: black !important; opacity: 1; 
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: "◀"; }
[dir="rtl"] .slick-prev:before { content: "▶"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "▶"; }
[dir="rtl"] .slick-next:before { content: "◀"; }