/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require chosen
 *= require foundation-datetimepicker
 *= require bioart/stylesheets/spectrum
 */

@import 'variables';
p.inline-errors {
  color: red;
  font-weight: bold;
}

.row {
  max-width: 75rem !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $rubik;
}
body {
  background-color: #f7f7f6;
}
form {
  select, input {
    margin-bottom: 0.2rem;
  }
  label.label, label {
    font-family: $titillium;
    font-size: 1.1rem;
    font-weight: bold;
  }
  label > [type='checkbox'] {
    margin: 0 0.5rem 0 0;
  }
  li {
    list-style-type: none;
    p.inline-hints {
      font-size: 0.85rem;
      font-style: italic;
      color: #555;
    }
  }
  #post_published_input {
    margin: 0.8rem 0;
  }
}

.fields {
  border-bottom: 1px dotted black;
  padding: 1rem 0;
  margin: 1rem 0;

}
table.cms {
  tr:nth-child(even) {background: #FFF}
  td {
    padding: 1rem;
    .partners {
      padding: 1rem 0;
      font-size: 0.8rem;

      span.separator:last-of-type {
        display: none;
      }
    }
    span.projects {
      font-size: 0.75rem;
      color: #666;
    }
    span.node {
      font-size: 0.6rem;
      color: #888;
    }
    .subpages {
      font-size: 0.9em;
      .subpage {
        cursor: pointer;
        border: 1px solid black;
        background-color: $headerblue;
        padding: 0.25rem;
        margin: 0.25rem 0;
      }
    }
    .subsite {
      font-size: 0.8em;
      color: #666;
    }
  }
}

.datetimepicker thead tr:first-child th {
  background-color: #666;
}
i.fi-arrow-left {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  color: white;
  &:before {
    content: "\f053";
  }

}

i.fi-arrow-right {
  color: white;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  &:before {
    content: "\f054";
  }
}
