/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require chosen
 *= require foundation-datepicker
 *= require bioart/stylesheets/spectrum
 */

@import 'variables';

@import 'foundation-datetimepicker';

h1, h2, h3, h4, h5, h6 {
  font-family: $rubik;
}
body {
  background-color: #f7f7f6;
}
form {
  select, input {
    margin-bottom: 0.2rem;
  }
  label.label, label {
    font-family: $titillium;
    font-size: 1.1rem;
    font-weight: bold;
  }
  label > [type='checkbox'] {
    margin: 0 0.5rem 0 0;
  }
  li {
    list-style-type: none;
    p.inline-hints {
      font-size: 0.85rem;
      font-style: italic;
      color: #555;
    }
  }
  #post_published_input {
    margin: 0.8rem 0;
  }
}

.fields {
  border-bottom: 1px dotted black;
  padding: 1rem 0;
  margin: 1rem 0;

}
table.cms {
  tr:nth-child(even) {background: #FFF}
  td {
    padding: 1rem;
    p.project {
      font-size: 0.7em;
      color: #666;
    }
    .subpages {
      font-size: 0.9em;
      .subpage {
        cursor: pointer;
        border: 1px solid black;
        background-color: $headerblue;
        padding: 0.25rem;
        margin: 0.25rem 0;
      }
    }
    .subsite {
      font-size: 0.8em;
      color: #666;
    }
  }
}