@import 'bioart/stylesheets/variables';
@import '_settings';

header {
  background-color: $headerblue;
  .pattern {
    background: url(/assets/bioart/images/layout/menu_dot.png) repeat;
    max-height: 11.25em;
    padding: 3.125em 0;
    @include breakpoint(small only) {
      padding: 0.25rem 0 0;
    }
    @include breakpoint(medium only) {
      padding: 0.25rem 0 0;
    }
    .search_field {
      display: none;
      input[type=text] {
        float: left;
        outline: none;
        box-shadow: none;
        font-family: $titillium;
        border: none;
        height: 2.75rem;
        padding-left: 20px;
        background:  url(/assets/bioart/images/layout/mag_glass.png) no-repeat 2px center  #66ffcc;
        &::-webkit-input-placeholder {font-family: $titillium; color: #000; text-transform: uppercase; 
         
        }
        &::-moz-placeholder { font-family: $titillium; color: #000; text-transform: uppercase;} 
        &:-ms-input-placeholder { font-family: $titillium; color: #000; text-transform: uppercase; }
        &:input:-moz-placeholder { font-family: $titillium; color: #000; text-transform: uppercase; }
        
      }
    }
    .search_icon {
      position: absolute;
      top: 3px;
      right: 3px;
      a i {
        font-size: 1.5rem;
        color: black;
      }
    }
    a {
      .logo {
        font-family: $rubik;
        font-size: 3.081em;
        line-height: 1em;
        font-weight: 600;
        color: black;
      }
    }
    ul.menu {
      padding: 2.1em 0 0 0;
      @include breakpoint(medium only) {
        padding: 0;
      }
      @include breakpoint(small only) {
        padding: 0;
      }
      li {  
        vertical-align: bottom;
        @include breakpoint(small only) {
          display: inline;
          float: left;
          margin-bottom: 1rem;
        }
        &.search {
          width: 20%;
          @include breakpoint(small only) {
            width: 40%;
          }
          form {

            input[type=text] {
              float: left;
              outline: none;
              box-shadow: none;
              font-family: $titillium;
              border: none;
              height: 2.75rem;
              padding-left: 20px;
              background:  url(/assets/bioart/images/layout/mag_glass.png) no-repeat 2px center  #66ffcc;
              &::-webkit-input-placeholder {font-family: $titillium; color: #000; text-transform: uppercase; 
               
              }
              &::-moz-placeholder { font-family: $titillium; color: #000; text-transform: uppercase;} 
              &:-ms-input-placeholder { font-family: $titillium; color: #000; text-transform: uppercase; }
              &:input:-moz-placeholder { font-family: $titillium; color: #000; text-transform: uppercase; }
              
            }
           }
        }
        font-family: $titillium;
        padding: 0 0 0 0.15em;
        font-weight: 600;
        a {
          color: #FFF;
          background: black url(/assets/bioart/images/layout/menubar_arrow.png)  0.4em no-repeat;

          padding: 1em 0.7em 1em 2em;
          margin-right: 0.5em;
          font-size: 0.933rem;
          @include breakpoint(small only) {
            font-size: 0.8rem;
          }
          text-transform: uppercase;
        }
        &:hover {
          a {
            color: $fuschia;
          }
        }
      }
      
      
    }
  }
  
}

#flash {
  background-color: $fuschia;
  font-family: $rubik;

  @include breakpoint(small only) {
    margin: 0 2rem 0 -1rem;
  }
  color: #FFF;
  font-size: 1.5rem;
  clear: left;
  line-height: 1em;
  padding: 0.75rem 0.5rem;
}


// related content

.related_container {
  .offset {
    h1 {
      padding: 1.6rem 0;
      font-family: $rubik;
      color: #000;
      margin-left: -2rem;
      text-transform: uppercase;
      font-size: 4.424em;
      @include breakpoint(small only) {
        font-size: 3.4em;
        font-size: 10vw;
        line-height: 110%;
        margin-left: 0;
        padding: 1.24rem 0;
      }
      span.white {
        color: #FFF;
      }
    }
  }
  
  a.related {
    .related_image {
      overflow: hidden;
      height: 392px;
      .hashtag {
        float: left;
        margin: 0.813em 0.688em;
        font-family: $titillium;
        color: #333;
        font-size: 1rem;
        background-color: $headerblue;
        padding: 0.5em 0.313em;
      }
    }
    .related_content {
      padding: 1.875em 2.625em;
      background-color: white;
      margin-bottom: 2.2rem;
      opacity: 0.9;
      .title {
        font-family: $abel;
        font-size: 1.4em;
        line-height: 1.6rem;
        font-weight: bold;
        margin-bottom: 1em;
        color: #000;
      }
      .excerpt, .excerpt p {
        font-family: $titillium;
        font-size: 1rem;
        line-height: 1.25em;
        color: #000;
      }
    }
  }
}

footer {
  background: $headerblue url(/assets/bioart/images/layout/menu_dot.png) repeat;
  min-height: 7.5rem;
  padding: 2rem 0;
  font-size: 1rem;
  .address {

    p {
      strong {
        font-weight: bold;
      }
      margin: 0;
      font-weight: normal;
      font-family: $titillium;
      line-height: 1.6rem;
      font-size: 1.125rem;
    }
  }
  

  .icons {
    .email, .fb, .twitter, .instagram, .rss {
      float: left;
      img {
        height: 20px;
        padding: 0 0.4rem;
      }
    }
  }
}