@import 'variables';
@import '_settings';

.frontitem {
  height: 0;
  font-family: $titillium;
  @include breakpoint(small only) {
    min-height: 300px;
    padding-bottom: 0 !important;
    height: initial;
    background-size: cover !important; 
  }
  .frontitem_blurb {
    padding-top: 20%;
    .small_blurb {

      padding: 0.3em;
      margin-bottom: 4px;
      float: left;
      clear: both;
      font-size: 1em;
    }
    .third_blurb {
      opacity: 0.9;
    }
    .middle_blurb, .third_blurb {
      padding: 1em 0.813em;
      float: left;
      clear: both;
      font-size: 1em;
      &.last {
        margin-bottom: 6.5em;
      }
    }
  }
}

.whats_new {
  background: #f7f7f6 url(/assets/bioart/images/layout/grey_dots_small.png) repeat;
  
  .section_title {
    padding: 4.24rem 0;
    font-family: $rubik;
    color: #000;
    text-transform: uppercase;
    font-size: 5rem;
    opacity: 0.9;
    @include breakpoint(small only) {
      font-size: 3.4em;
      font-size: 13vw;
      line-height: 4.15rem;
      padding: 0 0 1rem 0;
    }
    @include breakpoint(medium only) {
      font-size: 3.4em;
      font-size: 8vw;
      line-height: 110%;
      padding: 2rem 0;
    }
    span.white {
      color: #FFF;
    }
  }
  
  a.post {

    .post_image {
      overflow: hidden;
      padding-bottom: 100%;
      .hashtag {
        position: absolute;
        float: left;
        margin: 0.813em 0.688em;
        font-family: $titillium;
        color: #333;
        opacity: 0.9;
        font-size: 0.933rem;
        background-color: $headerblue;
        padding: 0.3em 0.313em;
      }
    }
    .post_content {
      padding: 1.875em 2.625em;
      background-color: white;
      margin-bottom: 2.2rem;
      opacity: 0.9;
      .title {
        font-family: $titillium;
        padding: 0.1em 0.2em; 
        font-size: 1.4rem;
        line-height: 1.25em;
        font-weight: bold;
        margin-bottom: 1em;
        color: #000;
      }
      .excerpt, .excerpt p {
        font-family: $titillium;
        font-size: 1rem;
        line-height: 1.25em;
        color: #000;
      }
    }
  }
}

.about {
  min-height: 600px;
  .heading {
    background-color: $headerblue;
    font-size: 5rem;
    @include breakpoint(small only) {
      font-size: 3.4rem;
      font-size: 13vw;
      line-height: 4.15rem;
      margin: 2.8rem 0;
    }
    @include breakpoint(medium only) {
      font-size: 3.4em;
      font-size: 8vw;
      line-height: 110%;
      margin: 2.8rem 0;
    }
    text-transform: uppercase;
    font-family: $rubik;
    float: left;
    margin: 2.8rem 0 6rem;
    padding: 0.25rem;
    line-height: 1em;
  }

  .text {
    opacity: 0.9;
    .red {
      background-color: $fuschia;
      font-family: $rubik;
      float: left;
      margin: -2rem 0 0 3.25rem;
      @include breakpoint(small only) {
        margin: 0 2rem 0 -1rem;
      }
      color: #FFF;
      font-size: 3.25rem;
      clear: left;
      line-height: 1em;
      padding: 0.25rem 0.5rem;
      position: absolute;
    
    }
    clear: both;
    background-color: #fff;
    font-family: $titillium;

    margin: 3.75rem 2.75rem;
    @include breakpoint(small only) {
      margin: 0;
    }
    
    .excerpt {
      padding: 5.347rem 2rem 3.347rem;
      @include breakpoint(small only) {
        padding-top: 10rem;
        margin-bottom: 2rem;
      }
      p {
        @include breakpoint(small only) {
          font-size: 1rem;
        }
        font-size: 1.25rem;
        font-weight: normal;
        font-family: $titillium;
        line-height: 1.8rem;
      }
    }
    .side_links {
      display: none;
      position: relative;
      left: 96%;
      margin-top: -12%;
      @include breakpoint(small only) {
        left: initial;
        margin-top: initial;
      }
      .side_link {
        float: left;
        clear: both;
        margin-bottom: 1em;
        background-color: #000;
        background: black url(/assets/bioart/images/layout/menubar_arrow.png)  0.4em no-repeat;

        padding: 0.5rem 0.4em 0.5em 1.8em;
        a {
          text-transform: uppercase;
          color: #C5C5C5;
          &:hover {
            color: #FFF;
          }
        }
      }
    }
  }
}

.ars_bioarctica_front {
  .section_title {
    padding: 2.625rem 0;
    font-family: $rubik;
    color: #000;
    text-transform: uppercase;
    font-size: 5.659em;
    @include breakpoint(small only) {
      font-size: 3.4em;
      font-size: 13vw;
      line-height: 4.15rem;
      padding: 0 0 1rem 0;
    }
    @include breakpoint(medium only) {
      font-size: 3.4em;
      font-size: 8vw;
      line-height: 110%;
      padding: 2rem 0;
    }
    span.white {
      color: #FFF;
    }
    a {
      color: black;
    }
  }
  .ars_image {
    img {
      width: 100%;
      height: auto;
    }
  }
  .ars_content {
    background-color: white;
    margin-bottom: 5rem;
    padding: 1.875em 0.625em 5rem 2.625rem;
    h2 {
      font-family: $titillium;
      font-size: 1.914rem;
      line-height: 2.4rem;
      margin: 0 0 1rem 0;
      font-weight: bold;
    }
    p {
      font-family: $titillium;
      font-size: 1.25rem;
      font-weight: normal;
      line-height: 1.8rem;
    }

    .side_link {
      float: left;
      clear: both;
      margin-bottom: 1em;
      background-color: #FFF;
      border: 1px solid #000;
      background: white url(/assets/bioart/images/layout/menubar_arrow_blk.png)  0.4em no-repeat;
      font-family: $titillium;
      padding: 0.5rem 0.4em 0.5em 1.8em;
      a {
        text-transform: uppercase;
        color: #000;
        &:hover {
          color: #C5C5C5;
        }
      }
    }

  }
}
.featured_projects {
  background: #ececee url(/assets/bioart/images/fp_bg.png) center/cover no-repeat;
  padding-bottom: 8.75rem;
  .section_title {
    padding: 2.625rem 0;
    font-family: $rubik;
    color: #000;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 5rem;
    @include breakpoint(small only) {
      font-size: 3.4rem;
      line-height: 4.15rem;
      font-size: 13vw;
      padding: 0 0 1rem 0;
    }
    @include breakpoint(medium only) {
      font-size: 3.4em;
      font-size: 8vw;
      line-height: 110%;
      padding: 2rem 0;
    }
    span.featured {
      color: #FFF;
      opacity: 0.9;
      padding: 0 0.2em 0 0.4em;
      background-color: $headerblue;
    }
  }
  .project {
    height: 152px;
    @include breakpoint(small only) {
      height: initial;
    }
    margin-bottom: 0.75em;
    .project_icon {
      padding: 0;
      background-color: white;
      img {
        height: 152px;
        width: auto;
        @include breakpoint(small only) {
          width: 100%;
          height: auto;
        }
      }
    }
    .project_content {
      height: 152px;
      overflow: hidden;
      @include breakpoint(small only) { 
        height: initial;
      }
      font-family: $titillium;
      background-color: white;
      opacity: 0.9;
      padding: 1rem;
      .title {
        font-size: 1.4rem;
      }
      .year {
        font-size: 0.8rem;
        font-style: italic;
      }
      .description, .description p {
   
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.4rem;
      }
    }
  }
}

.contact {
  display: none;
  background: #FFF url(/assets/bioart/images/layout/blue_halftone.png) repeat;
  padding: 3rem 0 5.375rem 0 ;
  .text {
    opacity: 0.9;
    .red {
      background-color: $fuschia;
      font-family: $rubik;
      float: left;
      margin: -2rem 0 0 3.25rem;
      color: #FFF;
      font-size: 3.5rem;
      clear: left;
      line-height: 1em;
      padding: 0.25rem 0.5rem;
      position: absolute;
    
    }
    clear: both;
    background-color: #fff;
    font-family: $titillium;

    margin: 3.75rem 2.75rem;
    
    .address {
      margin-bottom: 5.375rem;
      padding: 5.347rem 2rem 3.347rem;
      .heading {
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.8rem;
        font-family: $titillium;
      }
      p {
        font-size: 1.25rem;
        font-weight: normal;
        font-family: $titillium;
        line-height: 1.8rem;
      }
    }
    .side_links {
      display: none;
      position: relative;
      left: 96%;
      margin-top: -16%;
      padding-bottom: 9%;
      @include breakpoint(small only) {
        margin-top: initial;
        left: initial;
        padding-bottom: initial;
      }
      .side_link {
        float: left;
        clear: both;
        margin-bottom: 1em;
        background-color: #000;
        background: black url(/assets/bioart/images/layout/menubar_arrow.png)  0.4em no-repeat;

        padding: 0.5rem 0.4em 0.5em 1.8em;
        a {
          text-transform: uppercase;
          color: #C5C5C5;
          &:hover {
            color: #FFF;
          }
        }
      }
    }
  }
}
