@import 'variables';
@import '_settings';


.opencall_detail {
  .row.boolean {
    padding: 1.5rem 0;
  }
  
  background: asset-url("bioart/images/layout/pink_dots_small.png") repeat;
  .text {
    opacity: 0.9;
    clear: both;
    background-color: #fff;
    font-family: $titillium;

    margin: 7.75rem 0 2rem 0;
    padding: 2.75rem 0;
    @include breakpoint(small only) {
      margin: 2.75rem 0;
    }
    &.has_photos {
      .image_carousel {
        margin-top: -3rem;
        z-index: -10;
        .slide {
          img {
            width: 100%;
          }
        }
      }
      .red {
        position: absolute;
        margin-right: 14rem;
        @include breakpoint(medium only) {
          margin-right: 4rem;
        }
      }
      .deadline {
        position: absolute;
        margin-top: 3rem;
        @include breakpoint(medium only) {
          margin-top: 7rem;
        }
      }
      .image {
//        position: absolute;
        margin-top: -3rem;
        z-index: -10;
        img {
          width: 100%;
        }
      }
      .call_text {
        padding-top: 2rem;
      }
    }
    .red {
      background-color: $fuschia;
      font-family: $rubik;
      float: left;
      margin: -5.5rem 5rem 0rem 3.25rem;
      color: #FFF;
      font-size: 3.5rem;
      clear: left;
      line-height: 1em;
      padding: 1rem 1.5rem;
     
      @include breakpoint(small only) {
        font-size: 8vw;
        line-height: 100%;
      }
    }
    .deadline {
      background-color: #e0e0e0;
      margin: 0rem 8rem 0rem 3.25rem;
      float: left;
      padding: 0.5rem 0.75rem;
      font-family: $titillium;
      font-size: 2rem;
      text-transform: uppercase;
      color: #333;
      @include breakpoint(small only) {
        font-size: 5vw;
        line-height: 100%;
      }
    }
    .call_text {
      padding: 14.25rem 6.75rem 0rem 3.25rem;
      font-family: $titillium;
      h3 {
        font-weight: bold;
        font-size: 1.3rem;
      }
    }
    
    form {
      padding-top: 4rem;
      span.between {
        float: left;
        padding: 0.3rem 0.4rem;
        font-weight: bold;
      }
      .text {
        margin: 0;
        padding: 0;
        clear: right;
        textarea {
          height: 200px;
          width: 75%;
        }
      }
      label.file {
        position: relative;
        margin:  0px;
        display: inline-block;
        span {
          border: none;
          background-color: black;
          padding: 4px 18px;
          text-transform: uppercase;
          color: white;
          font-weight: 300;
          font-size: 1.2rem;
        }
        input[type=file] {
          position: fixed;
          left: -1000px;

        } 
        .selected_file {
          float: right;
          margin-left: 15px;
          font-weight: 300;
        }
      }
      input[type=submit] {
        float: right;
        text-transform: uppercase;
        background-color: #ff3366;
        padding: 9px 10px;
        &:hover {
          background-color: #777;
        }
      }
      
      li {
        
        list-style-type: none;
        &#call_submission_preferred_start_input, &#call_submission_preferred_end_input {
          width: 30%;
          float: left;
        }
        &.choice {
          float: left;
          
          label {
            margin-right: 2.5rem;
            text-transform: uppercase;
            font-family: $titillium;
            font-size: 1rem;
            font-weight: bold;
            img {
              display: inline-block;
              padding: 0px;
              margin-left: 0.4rem;
              height:30px;
            	width:30px;
            	background: none;
            }
          }
        }
        &.choice > label > input {
          visibility: hidden;
          float: right;
        }
        &.choice > label > input:checked +img {
          background: asset-url("bioart/images/icons/checked_radio.png");
        	background-repeat: no-repeat;
        	background-position:center center;
        	background-size:30px 30px;
        }
      }
    }
    
  }
  
}