@import 'variables';
@import '_settings';

.about_page {
  &.errors {
    padding: 3rem 0;
  }
  background-color: #d5d7d8;
  min-height: 600px;
  .heading {
    opacity: 0.9;
    background-color: $headerblue;
    font-size: 5rem;
    @include breakpoint(small only) {
      font-size: 3.4rem;
      font-size: 11vw;
      line-height: 120%;
      margin-left: 0;
    }
    text-transform: uppercase;
    font-family: $rubik;
    float: left;
    margin: 2.8rem 0 0rem -50px;

    padding: 0.25rem;
    line-height: 1em;
  }

  .text {
    opacity: 0.9;
    .red {
      background-color: $fuschia;
      font-family: $rubik;
      float: left;
      margin: -2rem 0 0 3.25rem;
      @include breakpoint(small only) {
        font-size: 8vw;
        line-height: 100%;
        margin-bottom: 5rem;
      }
      color: #FFF;
      font-size: 3.5rem;
      clear: left;
      line-height: 1em;
      padding: 0.25rem 0.5rem;
      position: absolute;
    
    }
    clear: both;
    background-color: #fff;
    font-family: $titillium;

    margin-top: 1.75rem;
    margin-bottom: 10.75rem;
    @include breakpoint(small only) {
      margin: 0;
    }
    
    .excerpt {
      padding: 3.347rem 2rem 3.347rem;
      @include breakpoint(small only) {
        padding: 1rem 2rem 3rem 2rem;
      }
      p {
        font-size: 1.15rem;
        font-weight: normal;
        font-family: $titillium;
        line-height: 1.8rem;
        @include breakpoint(small only) {
          font-size: 0.9rem;
        }
      }
    }
//    .side_links {
//      display: none;
//      position: relative;
//      left: 96%;
//      margin-top: -12%;
//      @include breakpoint(small only) {
//        left: initial;
//        margin-top: initial;
//      }
    .side_link {
      float: left;
      clear: both;
      margin-bottom: 1em;
//      background-color: #000;
      background: white url(/assets/bioart/images/layout/menubar_arrow_blk.png)  0.4em no-repeat;
      border: 1px solid #000;
      padding: 0.4em 0.4em 0.4em 2em;
      a {
        text-transform: uppercase;
        color: #000;
        &:hover {
          color: #C5C5C5;
        }
      }
    }
//    }
  }
  
  .member_row_header {
    margin: 3rem 0;
  }
  
  .member_box {
    .member_image {
      min-height: 546px;
    }
    .member_content {
      padding: 1.875em 2rem;
      background-color: white;
      margin-bottom: 2.2rem;
      .title {
        font-family: $titillium;
        font-size: 1.75rem;
        line-height: 2.275rem;
        font-weight: bold;
        margin-bottom: 1em;
        a {
          color: #333;
        }
      }
      .excerpt, .excerpt p {
        font-family: $titillium;
        font-size: 1.125rem;
        font-weight: normal;
        line-height: 1.6rem;
      }
    }
  }
  
  .staff_box {
    margin-top: 3rem;
    @include breakpoint(small only) {
      margin-bottom: 3rem;

    }
    .excerpt {
      h3 {
        font-family: $abel;
        font-size: 1.750em;
      }
      ul {
        li {
          font-family: $titillium;
          list-style-image: url(/assets/bioart/images/grey_box.png);
        }
      }
    }
  }
}

.page_detail {
  .section_title {
    padding: 2.7rem 0;
    font-family: $rubik;
    color: #000;
    text-transform: uppercase;
    font-size: 5.659em;
    @include breakpoint(small only) {
      font-size: 10vw;
      padding: 2.24rem 0;
    }
  }
  .chunked {
    padding: 1.875em 2rem;
    background-color: white;
    margin: 0.8rem;
    float: left;
    max-width: 340px;
    
    .box_chunk {
      p {
        font-family: $titillium;
        font-size: 1rem;
        line-height: 1.4rem;
      
        img {
          padding: 1.5rem 0;
        }
        ul {
          li {
            font-family: $titillium;
            list-style-image: url(/assets/bioart/images/grey_box.png);
          }
        }
      }
      float: left;
    }
  }
  .text {
    padding: 1.875em 2rem;
    background-color: white;
    margin-bottom: 2.2rem;
    
    .page_image {
      margin-bottom: 1.5rem;
    }
    
    
    .excerpt , .excerpt p {
      font-family: $titillium;
      font-size: 1rem;
      line-height: 1.4rem;
      
      img {
        padding: 1.5rem 0;
        display: block;
      }
      ul {
        li {
          font-family: $titillium;
          list-style-image: url(/assets/bioart/images/grey_box.png);
        }
      }
    }
  }
  
  
}