@import 'variables';
@import '_settings';

.posts_index {
  background: #FFF url(/assets/bioart/images/layout/header_pattern.png) repeat;

  .section_title {
    padding: 2.7rem 0;
    font-family: $rubik;
    color: #000;
    text-transform: uppercase;
    font-size: 5.659em;
    @include breakpoint(small only) {
      font-size: 3.4em;
      padding: 2.24rem 0;
    }
    
  }
  .post {
    .post_image {
      overflow: hidden;
      padding-bottom: 100%;
 
      .hashtag {
        position: absolute;
        float: left;
        margin: 0.813em 0.688em;
        font-family: $titillium;
        color: #333;
        font-size: 1rem;
        background-color: $headerblue;
        padding: 0.5em 0.313em;
      }
    }
    .post_content {
      padding: 1.875em 2.625em;
      background-color: white;
      margin-bottom: 2.2rem;
      .author {
        font-family: $titillium;
        font-size: 1rem;
        line-height: 1.25em;
        color: #666;
      }
      .title {
        font-family: $titillium;
        padding: 0.1em 0.2em;
        font-size: 1.4em;
        line-height: 1.25em;
        font-weight: bold;
        margin-bottom: 1em;
        a {
          color: black;
          &:hover {
            color: #666;
          }
        }
      }
      .excerpt, .excerpt p {
        font-family: $titillium;
        font-size: 1rem;
        line-height: 1.25em;
      }
      .index_author {
        font-family: $titillium;
        font-size: 0.8em;
        line-height: 1.1em;
        color: #666;
        margin-top: 1.2rem;
      }
    }
  }  
  
}


.post_detail {
  background: #FFF url(/assets/bioart/images/layout/header_pattern.png) repeat;
  padding: 2.7rem 0;
  .post_image {
     background-color: white;
    min-height: 200px;
    .hashtag {
      float: left;
      margin: 0.813em 0.688em;
      font-family: $titillium;
      color: #333;
      font-size: 1rem;
      background-color: $headerblue;
      padding: 0.5em 0.313em;
      position: absolute;
      top: 23%;
      
    }
  }
  .post_content {
    padding: 1.875em 2.625em;
    background-color: white;
    margin-bottom: 2.2rem;
    .title {
      font-family: $abel;
      font-size: 1.4em;
      line-height: 1.45em;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
    .author {
      margin-bottom: 1em;
      font-family: $titillium;
      font-size: 1rem;
      line-height: 1.25em;
      color: #666;
      text-transform: uppercase;
    }
    .description, .description p {
      font-family: $titillium;
      font-size: 1rem;
      line-height: 1.25em;
      img {
        clear: both;
        display: block;
        padding: 1rem 0;
      }
      .controls {
        margin-bottom: 3rem;
        border-bottom: 1px solid black;
        button {
          &.primary {
            background-color: white;
          }
        }
      }
      iframe {
        &::before {
           clear: both;
         }
        padding: 2rem 0;
      }
    }
    .navigation {
      padding: 1.5rem 0 2.5rem 0;
      .side_link {
        float: left;
        font-family: $titillium;
        margin-bottom: 1em;
        background-color: #000;
        background: #fff url(/assets/bioart/images/layout/menubar_arrow_blk.png) 0.4em no-repeat;
        border: 1px solid #000;
        padding: 0.4em 0.4em 0.4em 2em;
        &.prev_post {
          background: #fff url(/assets/bioart/images/layout/menubar_arrow_reverse_blk.png) 0.4em no-repeat;
        }
        padding: 0.5rem 0.4em 0.5em 1.8em;
        a {
          text-transform: uppercase;
          color: #000;
          &:hover {
            color: #C5C5C5;
          }
        }
      }
    }
  }
}



// image carousel

  
.image_carousel {
  margin-top: 1rem;
  

  .slick-next, .slick-prev {
    height: inherit;
    width: inherit;
    bottom: -20%;
    z-index: 4000;
    &:focus {
      outline: none;
    }
  }
  .slick-prev {
    left: 6rem;
    position: absolute;
  }

  .slick-next {
    right: 7rem;
    position: absolute;

  //  &.page {
  //    right: 1rem;
  //  }
  }
  
  
  .thumb {
    display: none;
    
  }
  &.slick-slider {
    margin-bottom: 0 !important;
  }
  ul.slick-dots {
    position: relative  ;
    text-align: center;
    margin: 0.5rem 0 0 0;
    bottom: 0;
    cursor: pointer;
    padding: 0 10rem;
    li {
      width: 100px;
      height: 100px;
      margin: 0 0.5rem 0.5rem 0px;
      border: none;
      position: relative;
      display: inline-block;
      &.slick-active {
        border: 3px solid $headerblue;
      }
    }
    
  }
  
  .slick-list {
    .slick-track {
      .slide {
        img {
          margin-left: auto;
          margin-right: auto;
        }
        &.slick-active {
          img {
            border: none;
          }
        }
      }
    }
  }
}  
