@import 'variables';
@import '_settings';


.projects_index {
  padding: 1rem 0 2.5rem 1rem;
  .heading {
    margin-left: -2.4rem;
    padding: 2.625rem 0;
    font-family: $rubik;
    color: #000;
    text-transform: uppercase;
    font-size: 4.375rem;
    @include breakpoint(small only) {
      font-size: 3.4em;
      padding: 2.24rem 0;
    }
    span.featured {
      color: #FFF;
      padding: 0 0.2em;
      background-color: $headerblue;
    }
  }

  a.project {
    color: #000;
    height: 152px;
    float: left;
    width: 100%;
    @include breakpoint(small only) {
      height: initial;
    }
    .inner {
      margin: 0;
    }
    margin-bottom: 0.75em;
    .project_icon {
      padding: 0;
      background-color: white;
      img {
        height: 152px;
        width: auto;
        @include breakpoint(small only) {
          width: 100%;
          height: auto;
        }
      }
    }
    .project_content {
      height: 152px;
      @include breakpoint(small only) { 
        height: initial;
      }
      font-family: $titillium;
      background-color: white;
      opacity: 0.9;
      padding: 1rem;
      .title {
        font-size: 1.614em;
      }
      .year {
        font-size: 0.8rem;
        font-style: italic;
      }
      .description, .description p {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.4rem;
      }
    }
  }
  
  
  
}

.project_detail {
  background: #f7f7f6 url(/assets/bioart/images/layout/grey_dots_small.png) repeat;
  
  .text {
    p, .excerpt, .excerpt p {
      a {
        color: $red;
      }
    }
  }
  ul.project_menu, ul.project_submenu {
    padding: 2.1em 0 0 0;
    margin-bottom: 3rem;
    @include breakpoint(small only) {
      padding: 0;
    }
    li {  
      @include breakpoint(small only) {
        display: inline;
        float: left;
        margin-bottom: 1rem;
      }
      &.is-dropdown-submenu-parent {
        &:hover {
          ul {
            li {
              a {
                color: #000;
                &.active {
                  background: $red url(/assets/bioart/images/layout/menubar_plus.png)  0.4em no-repeat;
                  color: #FFF;
                }
              }
              
              &:hover {
                a {
                  color: $red;
                  &.active {
                    
                  }
                }
                
              }
            }
          }
        }
        a {
          background: #f7f7f6 url(/assets/bioart/images/layout/menubar_plus_blk.png)  0.4em no-repeat;
          &.active {
            background: $red url(/assets/bioart/images/layout/menubar_plus.png)  0.4em no-repeat;
            color: #FFF;
          }
        }
        
        li.is-submenu-item {
          a {
             background: #f7f7f6 url(/assets/bioart/images/layout/menubar_arrow_blk.png)  0.4em no-repeat;
          }
        }
      }
      &.is-dropdown-submenu-parent > a::after {
        border: none;
      }
      font-family: $titillium;
      padding: 0 0 0 0.15em;
      a {
        color: #000;
        background: #f7f7f6 url(/assets/bioart/images/layout/menubar_arrow_blk.png)  0.4em no-repeat;

        padding: 1em 0.7em 1em 2em;
        margin-right: 0.5em;
        font-size: 0.933em;
        
        text-transform: uppercase;
        &.active {
          background: $red url(/assets/bioart/images/layout/menubar_arrow.png)  0.4em no-repeat;
          
          color: #FFF;
          
        }
      }
      &:hover {
        a {
          color: $fuschia;
        }
      }
    }
    
    
  }
//  ul.project_submenu {
//    padding: 0 0 2rem;
//    margin: -21px 0 0 3rem;
//    li {
//      a {
//        font-size: 0.7em;}
//    }
//  }
  
  h1.project_title {
    font-family: $rubik;
    font-size: 5.75rem;
    a {
      color: #000;
    }
    span.years {
      font-size: 1.8rem;
    }
  }
  h3.project_subtitle {
    font-size: 2.875rem;
    font-family: $rubik;
  }
  
  .project_indented {
    margin-left: 2.75rem;
  }
  .text_box {
    opacity: 0.9;
    clear: both;
    background-color: #fff;
    font-family: $titillium;

    margin: 3.75rem 0 2rem 0;
    
    
    &.has_children {
      background: transparent;
    }
    .red {
      background-color: $red;
      font-family: $rubik;
      float: left;
      margin: -2.5rem 5rem 0rem 3.25rem;
      color: #FFF;
      font-size: 3.5rem;
      clear: left;
      line-height: 1em;
      padding: 1rem 1.5rem;
      position: absolute;
      z-index: 50;
      a {
        color: #FFF;
      }
    
    }
    .body {
      padding: 4rem 2rem 0 2rem;
      font-family: $titillium;
      a {
        color: $red;
      }
      h3 {
        font-weight: bold;
        font-size: 1.3rem;
      }
    }
  }
  
  .blog_container {
    margin: 6rem 0 0 0;
  }
  .collaborators_container {
    margin: 6rem 0;
  }
  .blog_container, .collaborators_container {
    
    .red {
      background-color: $red;
      font-family: $rubik;
      float: left;
      margin: -2.5rem 5rem 0rem 3.25rem;
      color: #FFF;
      font-size: 3.5rem;
      clear: left;
      line-height: 1em;
      padding: 1rem 1.5rem;
      position: absolute;
      z-index: 50;
      a {
        color: #FFF;
      }
    }
    .collaborators {
      
      margin-left: -0.45rem;
      a.collaborator {
        height: 200px;
        margin: 0.5rem;
        background-color: white;
        padding: 75px;

      }
    }
    a.post{
      .post_image {
        overflow: hidden;
        padding-bottom: 100%;
        .hashtag {
          float: left;
          margin: 0.813em 0.688em;
          font-family: $titillium;
          color: #333;
          font-size: 1rem;
          background-color: $headerblue;
          padding: 0.5em 0.313em;
        }
      }
      .post_content {
        padding: 1.875em 2.625em;
        background-color: white;
        margin-bottom: 2.2rem;
        opacity: 0.9;
        .title {
          font-family: $abel;
          font-size: 1.4em;
          line-height: 1.25em;
          font-weight: bold;
          margin-bottom: 1em;
          color: #000;
        }
        .excerpt, .excerpt p {
          font-family: $titillium;
          font-size: 1rem;
          line-height: 1.25em;
          color: #000;
        }
      }
    }
  }
  .page_children {
    a.page {
      .page_image {
        overflow: hidden;
        padding-bottom: 100%;
      }
      .page_content {
        padding: 1.875em 2.625em;
        background-color: white;
        margin-bottom: 2.2rem;
        opacity: 0.9;
        color: #000;
        .title {
          font-family: $abel;
          font-size: 1.4em;
          line-height: 1.25em;
          font-weight: bold;
          margin-bottom: 1em;
          color: #000;
        }
        .excerpt, .excerpt p {
          font-family: $titillium;
          font-size: 1rem;
          line-height: 1.25em;
          color: #000;
        }
      }
    }
  }
  
}
.image_carousel {
  ul.slick-dots {
    li.slick-active {
      border: 3px solid $red !important;
    }
  }
}