.post_container
  - if @category
    .blue_category_bar
      .medium-4.columns.small-centered
        Showing all posts in category
        = @category.name

  - @posts.each_with_index do |post, index|
    -# - cache [@site.try(:name), post] do
    .post{class: index == (@posts.size - 1) ? :last : false}
      = render partial: 'posts/post', locals: {post: post}