%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Dear
      = @user.first_name + " " + @user.last_name
    %p Thank you for registering for the HYBRID MATTERs symposium in Helsinki on 24-25 November.

    %p If you have selected to attend the dinner, you will receive an email from us soon containing payment details.

    %p If you have any further questions, please email info@bioartsociety.net.

