@import 'variables';

#sticky_invitations_box {
  background-color: #ba3245;
  color: black;
  cursor: pointer;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  .heading {
   cursor: move;
   font-size: 0.875em;
   
    span.white {
      color: #FFF;
    }
    
  }
  .title_box {
    border-top: 2px solid #000;

    .title {
      a { color: #FFF; }
      font-weight: 400;
      font-size: 0.938em;
      padding: 2.25rem  0 0 0;
      text-transform: uppercase;
    }

  }
  .blurb {
    padding: 1rem 0.75rem;
    font-size: 0.875rem;

    a {
      color: #FFF;
    }
  }    
}

header.invitations {
  nav.top-bar {
    background: url(image_path('/assets/hybrid_matters/images/menu_module_invitations.png')) repeat-x;
    .menu_wrapper, .down_arrow_wrapper {
      ul.top-bar-menu {
        
        .together {
          &.active {
            background: url(image_path('/assets/hybrid_matters/images/selected_down_invitations.png')) no-repeat center center;
          }
        }
        li {
          &.active { background: url(image_path('/assets/hybrid_matters/images/selected_down_invitations.png')) no-repeat center center; }
        }
        select {
          
          background-color: #f7d5ae;
        }

      }
    }
  }
}

footer._invitations {
  .drawer {
    background-color: #f7d5ae;
  }
  
}

@media only screen and (max-width: 40em)  { 
  
  header.invitations {
    nav.top-bar {
      select {
        background-color: #f7d5ae;
      }
    }
  }
}