@import 'variables';

@media only screen and (min-width: 40.063em) and (max-width: 64em)  { 
  nav.activities-bar .secondary_activities_filter ul li {
    padding-top: 18px;
    font-size: 0.85rem;
  }
  .secondary_activities_filter {
    width: 100%;
    .menu_wrapper {
      left: calc(13% - 20px);
      ul.top-bar-menu {
        left: 0;
        width: 100%;
      }
    }
  }
  

    #map_container {
    
      .partner_location {
        font-size: 0.7rem;
        
        &.kilpisjarvi {
          top: 578px;
          right: 0px;
          width: 102px;
        }
        &.nikolai {
          top: 885px;
          right: 102px;
        }
        &.malmo {
          top: 882px;
          right: 85px;
        }    
        &.helsinki {
          top: 815px;
          right:0px;
        } 
        &.forumbox {
          top: 815px;
          right: 0px;
        }
        &.itu {
          top: 883px;
          right: 46px; 
        }
        &.grenland {
          top: 826px;
          right: 141px; 
        }
      }
      .inner_container {
        #map_left {
          background: asset-url('map-left-mid.png') no-repeat left top #dbd9d9;
          min-height: 1062px;
        }
        #map_right {
          background: asset-url('map-right-mid.png') no-repeat right top #dbd9d9;
          min-height: 1062px;
          

        }
        #activity_map_wrapper {
          .vertical-line {
            .activity_row {
              .activity_entry {
                .activity_box {
                  width: 240px;
                }
              }
            }
          }        
        }
      }
    }
 
  
  
}