.contact
  .row
    .small-12.columns
      .text
        .red Contact
        .address
          %strong Office and postal address
          %p
            Suomen Biotaiteen Seura ry / Finnish Bioart Society
            %br/
            Kaasutehtaankatu 1
            %br/
            FI-00540 Helsinki
            %br/
            %br/
            info[at]bioartsociety[dot]fi
        .side_links
          .side_link= link_to 'Send us an email', '#'