.featured_projects
  .row
    .small-10.small-centered.medium-12.columns.section_title
      %span.featured Featured
      Projects
      
  .row
    .small-10.columns.medium-11.small-centered
      - @projects.each do |project|
        - next if project.slug == 'ars-bioarctica'
        .row.project[project]{:'data-equalizer' => ''}
          .small-12.large-2.medium-3.project_icon.columns{:'data-equalizer-watch' => ''}
            = image_tag project.image.url.gsub(/development/, 'production')
          .small-12.large-10.medium-9.project_content.columns{:'data-equalizer-watch' => ''}
            .title= project.name
            .years= project.year_range
            .description= project.description