- @frontitems.each_with_index do |frontitem, index|
  = render partial: 'frontitem', locals: {frontitem: frontitem, index: index}


= render partial: 'whatsnew'



-# - unless @ars.nil?
-#   = render partial: 'ars_bioarctica'


-# - unless @projects.empty?

-#   = render partial: 'projects'

-# - unless @activities.empty?
-#   = render partial: 'activities'

-# = render partial: 'about'

-# = render partial: 'contact'
