.row
  .small-12.columns
    .about_page.errors
      .text 
        .red Something went wrong .... (500!)
        .excerpt
          %p If you want to tell us about it, please contact info@bioartsociety.fi
