.page_container
  .row
    .medium-7.columns.medium-offset-2
      %h2= @page.title
  - if @page.image?
    .row
      .medium-7.columns.medium-offset-2= image_tag @page.image.url
  .row
    .medium-7.columns.medium-offset-2.body
      = raw @page.body
