%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Dear Bioart staff,
    %p
      = @user.name
      = " (#{@user.email})"
      submitted an application.
    %p Go take a look at it!
    %p Have a great day.
