%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Dear
      = @user.name + ","
    %p Thank you very much for your application.
    %p We will inform as soon as possible about the selection. 
    %p If you have any questions please write to info@bioartsociety.fi