@import 'variables';

.activities.main-container {
  border-bottom: none;
  margin-bottom: 0;
}
nav.activities-bar {
 height: 55px;
 
 background-color: #f7e9dc;
 .secondary_activities_filter {
   height: initial;
   z-index: 99;
   position: absolute;
   border-right: none;
   .menu_wrapper {
     display: table;
     width: 100%;
     ul.top-bar-menu {
       display: table-row;
       padding-top: 7px;
       margin: 0;
       width: 100%;
 
    
       li {
         display: table-cell;
         position: relative;
         padding: 1.3rem 1.4rem 0 1.4rem;
         width: 1%;
         &.active {
           background-color: none;
           text: $darkerturq;
         }
         a {
           color: $darkerturq;
           &:hover {
             color: $turq;
           }
         }
       }
     }
   }
 }
}

.main-container.activities {
  padding: 105px 0 0 0;
  
}
  #map_container {

    .inner_container {
      border-left: 2px solid #444;
      border-right: 2px solid #444;
      border-bottom: 2px solid #444;
      margin: 0 0.688em 0.688em 0.688em;
      #map_left {
  //      background-size: contain;
        background: url(image_path('map-left-dotless.png')) no-repeat left top #dbd9d9;
        width: 44%;
        min-height: 1847px;
  //      padding-bottom: 100%;
      }
    
      #map_right {
        
        background: url(image_path('map-right-dotless.png')) no-repeat right 96px #dbd9d9;
        float: right;
        width: 56%;
        min-height: 1900px;
        padding-bottom: 100%;
        position: relative;
        
        .filter_box {
          top: 25px;
          right: 5%;
          position: absolute;
          clear: both;
          .title {
            text-decoration: underline;

            font-size: 0.8rem;
          }
          ul {
            margin-left: 0; padding-left: 0;
            li {
              list-style-type: none;
              font-size: 0.8rem;
              border: 1px solid $turq;
              padding: 0.2rem;
              margin: 0.2rem 0;
              background-color: transparent;
              &.active {
                background-color: $pastel-blue;

              }
            }
          }
        }
        .all_partners {
          bottom: 9px;
          right: 15px;
          position: absolute;
        }
      }
      
    }
    float: left;
    background-color: #dbd9d9;
    width: 100%;
   
    .partner_location {
      position: relative;
      font-size: 0.8rem;
      float: right;
      clear: both;
      cursor: pointer;
      .left_text {
        float: left;
        margin-right: 3px;
      }
      &.kilpisjarvi {
        top: 1079px;
        right: 26px;
        .caption {
          width: 177px;
        }
      }
      &.nikolai {
        top: 1685px;
        right: 234px;
        .caption {
          width: 119px;
        }
      }
      &.malmo {
        top: 1682px;
        right: 214px;
        .caption {
          width: 122px;
        }
      }    
      &.helsinki {
        top: 1532px;
        right:0px;
        .caption {
          width: 119px;
        }
      } 
      &.forumbox {
        top: 1534px;
        right: 0px;
        .caption {
          width: 119px;
        }
      }
      &.itu {
        top: 1682px;
        right: 170px; 
        .caption {
          width: 184px;
        }
      }
      &.grenland {
        top: 1569px;
        right: 301px; 
        .caption {
          width: 131px;
        }
      }
      .partner_circle {
      	border-radius: 50%;
      	width: 20px;
      	height: 20px; 
        float: left;
        margin-right: 3px;
        &.bioart {
          border:1px solid #8f7cb0;
          background-color: #8f7cb0;
        }
        &.malmo {
          border:1px solid #ba3245;
          background-color: #ba3245;
        }
        &.forumbox {
          border:1px solid #fb8828;
          background-color: #fb8828;
        }
        &.itu {
          border:1px solid #000;
          background-color: #000;
        }
        &.grenland {
          border:1px solid #fee100;
          background-color: #fee100;
        }
        &.nikolai {
          border:1px solid #a08065;
          background-color: #a08065;
        }
      }
    }
    
    .clearing {
      clear: both;
    }
  }


#activity_map_wrapper {
  position: absolute;
//  background: url(image_path('map.png')) no-repeat center top;
  background-size: cover;
  padding: 8% 0% 0% 12%;

}

.vertical-line {
  background: url(image_path('arrowline.png')) repeat-y 23px top;
  padding-top: 2rem;
  border-collapse: collapse;
  border: none;
  tr {
    margin-bottom: 2rem;
    background: none !important;
  }
}

.activity_row {
  &.hidden {
    display: none;
  }
  clear: both;
  max-width: 800px;
  display: table;
  .circle {
//    float: left;
    display: table-cell;
    background: url(image_path('circle.png')) no-repeat center center;
    font-weight: 300;
    color: #FFFFFF;
    width: 55px;
    height: 55px;
    vertical-align: middle;
    padding: 13px 5px 5px 5px;
    .month {
      font-weight: 100;
      font-size: 1.5rem;
      line-height: 1.1rem;
    }
    .year, .alone_year {
      font-weight: 100;
      font-size: 0.7rem;
    }

  }
  
  .activity_entry {
    min-width: 75%;
    display: table;
    padding: 12px 0 1rem 1.4rem;
    margin-left: 1rem;

    .activity_box {
      padding: 1rem;
      margin:  0;
      display: table-cell;
      float: left;
//      width: calc(100% - 20px);
      width: 350px;
      .title {
        color: #FFF;
        font-size: 1rem;
        text-transform: uppercase;
      }
      .dates {
        color: #FFF;
        font-size: 0.75rem;
      }
      .activity_description {
        margin-top: 0.5rem;
        font-size: 0.750rem;
        color: #FFF;
      }
      &.fee100, &.FB8828 {
        .title, .dates, .activity_description { 
          color: #444;
        }
      }
    }
  
    .arrow_left {
      display: table-cell;
      vertical-align: middle;
      width: 22px;
//      width: 0;
//      float: left;
//      height: 0;
//      border-top: 20px solid transparent;
//      border-bottom: 20px solid transparent;
    }
  }
  
}