nav.activities-bar {
 height: 45px;
 
 background-color: #f7e9dc;
 .secondary_activities_filter {
   height: initial;
   position: absolute;
   border-right: none;
   ul {

     left: initial;
     padding-top: 13px;
     list-style:none;
     position:relative;
 
    
     li {
       float: left;
       position: relative;
       padding: 0 1.4rem;
       a {
         float: left;
         white-space: nowrap;
       }
     }
   }
 }
}

.main-container.activities {
  padding: 95px 0 0 0;
}


#activity_map_wrapper {
  position: absolute;
  left: 15%;
  margin-top: 3rem;
  z-index: 12;
}
.vertical-line {
  background: url(image_path('arrowline.png')) repeat-y 23px top;
  padding-top: 2rem;
}

.activity_row {


  .circle {
    float: left;
    background: url(image_path('circle.png')) no-repeat center center;
    font-weight: 300;
    color: #FFFFFF;
    width: 55px;
    height: 55px;
    padding: 15px;
  }
  
  .activity_entry {
    width: 40%;
    display: table;
    padding: 12px 0 1rem 1.4rem;


    .activity_box {
      padding: 0.5rem;
      margin:  0;
      display: table-cell;
      float: left;
      width: calc(100% - 20px);
  
      .title {
        color: #FFF;
        font-size: 1rem;
        color: #FFF;
      }
      .dates {
        color: #FFF;
        font-size: 0.75rem;
      }
      .activity_description {
        margin-top: 0.5rem;
        font-size: 0.750rem;
        color: #222;
      }
    }
  
    .arrow_left {
      display: table-cell;
      vertical-align: middle;
    	width: 0; 
      float: left;
    	height: 0; 
    	border-top: 20px solid transparent;
    	border-bottom: 20px solid transparent;	 
    }
  }
  
  
}


// map stuff below
#map_container {
  width: 100%;
  height: 100%;
}