/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require foundation-datepicker
 *= require slick-carousel
 *= require partners
 *= require pages
 *= require activities
 *= require calls

 *= require posts
 *= require field_notes
 *= require fn_mobile
 *= require exhibitions
 *= require jquery-ui
 *= require jquery-overrides
 *= require mobile
 *= require tablet
 */

@import 'foundation_and_overrides';
@import 'variables';

html {
  max-width: 100%; 
  overflow-x: hidden;
}
#flash {
  padding: 0.8rem 0;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  background-color: red;
}



form {
  li {
    list-style-type: none;
  }
  label.label {
    background-color: initial;
    color: #666;
    font-size: 1.1rem;
  }
}

// header
.grid-container {
  margin: 0.688em 0.688em 0 0.688em;
  border-top: 2px solid #444;
  border-right: 2px solid #444;
  height: 100%;
  border-left: 2px solid #444;
  z-index: 999;
}

header {
  .before {
    height: 1px;
  }
  .image_credit {
    z-index: 49;
    position: absolute;
    margin: 1rem 1.5rem;
    a { color: black; }
    font-size: 0.8rem;
    color: #333;
  }
  .staging_overlay {
    img {
      margin: 5% 5% 0 0;
      float: right;
      z-index: 11;
    }
  }
  &.type1 {
    background: url(image_path('top_image1.jpg')) no-repeat top center;
  }
  &.type2 {
    background: url(image_path('top_image2.jpg')) no-repeat top center;
  }
  &.type3 {
    background: url(image_path('top_image3.jpg')) no-repeat top center;
  }
  background-color: $pastel-blue;
//  background-size: cover;
  height: 400px;

  top: 0;
  // position: absolute;
  width: 100%;
  
  .logo {
    margin: 5.625rem 0 2.5rem 0;
  }
  
  .top-bar {
    background: url(image_path('menu_module.png')) repeat-x;
    z-index: 100;
    margin-top: -37px;
    height: 75px;
    .down_arrow_wrapper {
      ul.top-bar-menu {
        .together {
          &.active {
            background: url(image_path('selected_down.png')) no-repeat center center; 
          }
        }
        li {

          &.active { background: url(image_path('selected_down.png')) no-repeat center center; }
        }
      }
    }

    a {
      text-transform: uppercase;
      font-size: 1rem;
      color: #444;
      &:hover {
        color: $blue_hover;
      }
    }
  }
  
}

.hor-container {
  z-index: 999;
  border-left: 2px solid #444;
  border-right: 2px solid #444;
  margin: 0 0.688em;
  height: 75px;

  .menu_wrapper , .down_arrow_wrapper {
    width: 100%;
    .social {
      width: 90px;
      float: left;
      padding-left: 5px;
    }
    .rest {
      padding-top: 0.4rem;
      width: calc(100% - 90px);
      float: left;
    }
    ul.top-bar-menu {
      left: calc(26% - 110px);
      padding-top: 4px;
      margin: 0;
      li.about {
        text-align: right;
        padding-right: 0.2rem;
      }
      li.select_menu {
        margin-top: -8px;
        margin-left: 0;
        padding: 0 0.2rem;
      }
      select {
        margin: 0; padding: 0 1.2rem 0 0;
        background-color: $topbarpink;
        text-transform: uppercase;
        font-size: 1rem;
        color: #444;
        outline: none;
        height: 25px;
        -webkit-appearance:none;
        font-weight: normal;
        border: none;
        &:active, &:focus, &:hover {
          outline: none;
          border: none;
        }
      }
    }
  }
  .down_arrow_wrapper {
    height: 0;
    z-index: 20;
    position: absolute;
    ul.top-bar-menu {
      li.about {
        text-align: right;
        padding-right: 0.2rem;
      }
      li.select_menu {
        margin-top: -8px;
        margin-left: 0;
        padding: 0 1.4rem 0 0.2rem;
      }
      .together {
        float: left;
      }
    }
    .select_spacer {
      padding: 0 2.8rem 0 1.4rem;
    }
    .rest {
      padding: 0;
    }
  }
  .row {
    padding-top: 0;
    &.down_arrow {
      padding-top: 0; 
      img {
        vertical-align: top;
      }
    }
    .social_icons {
      padding-top: 0.8rem;
    }
  }
}
.main-container {
  border-left: 2px solid #444;
  border-right: 2px solid #444;
  border-bottom: 2px solid #444;
  margin: 0 0.688em 0.688em 0.688em;

  padding-bottom: 3rem;
  padding-top: 80px;
  
}

footer {
  font-size: 0.9rem;
  img {
    padding: 0px 15px;
  }
  .row {
    max-width: initial;
  }
  .drawer {
    background-color: #fad1cb;
    padding: 1.5rem 0;
    cursor: pointer;
    margin-bottom: -2px;
    a {
      color: #222;
    }
    .row {
      margin: 0;
    }
  }
  
  .row.lined {
    padding: 1.2rem 0;
    .columns {
      padding: 1.6rem 0;
      border-bottom: 1px solid #000;

    }
  }
  
  .contact_info {
    margin-top: -25px;
    padding: 1.7rem 0;
    background-color: $beige;
  }
  
  clear: both;
  
  .rest {
    margin-bottom: 26px;
    display: none;
    background-color: white;
    padding-bottom: 1.8rem;
  }

  .logo_strips {
    padding: 1.5rem 0;
  
    .footer_title {
      padding: 1.5rem 0;
      font-weight: 300;
      color: #777;
    }
    
    
    .partners {
    
      a {
        padding: 0 1rem;
      }
    }
  }
}

.container_404 {
  .columns {
    padding: 7rem 0;
    margin-bottom: 1rem;
    img {
      margin-right: 25px;
    }
    h2 {
      padding-top: 55px;
      font-size: 2rem;
      color: #444;
    }
    p {
      color: #666;
      font-size: 0.9rem;
    }
  }
}

#sticky_blue_box {
  background-color: $darkerturq;
  color: black;
  cursor: pointer;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  .heading {
   cursor: move;
   font-size: 0.875em;
   
    span.white {
      color: #FFF;
    }
    
  }
  .title_box {
    border-top: 2px solid #000;

    .title {
      color: #FFF;
      font-weight: 300;
      font-size: 0.938em;
      text-transform: uppercase;
    }
    .date {
      font-style: italic;
      font-size: 0.875rem;
      color: #777;
    }
  }
  .blurb {
    border-top: 2px solid #000;
    display: none;
    padding: 1.75rem 0.75;
    font-size: 0.875rem;
    
    a {
      color: #FFF;
    }
  }
}

.event_container {
  padding: 2.5rem 0;
  border-bottom: 2px solid black;
  &.last {
    border-bottom: none;
  }
  h2 {
    font-size: 2.063rem;
    color: #444;
    a { 
      color: #444;
    }
  }
  .short_description, .short_description p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: #222;
    font-weight: 300;
    margin-bottom: 0.8rem;
  }
  p {
    em {
      font-weight: 300;
    }
  }
  .blue_heading, .blue_heading a {
    color: $turq;
    font-size: 0.938rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
  }
  .navigator {
    ol {
      margin: 0; padding: 0;
      color: $turq;
      li {
        list-style-position: inside;
        color: $turq ;
        margin-bottom: 0.3rem;
        a {
          font-size: 0.938rem;
          padding-bottom: 0.2rem;
          line-height: 1.5rem;
          color: $turq;
        }
        border-bottom: 1px solid $turq;
      }
      
    }
  }
}

.event_single_container {
  margin-top: 3rem;
  
  .event_info {
    .blue_heading {
      color: $turq;
      font-size: 0.938rem;
      line-height: 1.5rem;
      text-transform: uppercase;
      font-weight: 300;
    }
    em {
      color: #999;
    }
  }
  
  .event_short_description, .event_short_description p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: #444;
    font-weight: 300;
    margin: 1.5rem 0 0.8rem 0;
  }
  
  .event_paginator {
    margin-top: 1rem;
    float: left;
    border: 3px solid #333;
    color: #333;
    &.noright {
      border-right: none;
    }
    letter-spacing: 0.3rem;
    a { color: #333; &:hover { color: $turq; } }
    padding: 0.2rem 0.65rem; 
    text-transform: uppercase;
    font-size: 1rem;
  }
  
}


select optgroup, option.bi {
  font-style: italic;
  font-weight: bold;;
}
option.exhibition_select {
  padding-left: 1.2rem;
}