/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require foundation-datepicker
 *= require slick-carousel
 *= require partners
 *= require pages
 *= require activities
 *= require calls
 *= require mobile
 */

@import 'foundation_and_overrides';
@import 'variables';

#flash {
  padding: 0.8rem 0;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  background-color: red;
}

ul.admin_top {
  li {
    float: left;
    list-style-type: none;
    padding: 0.1rem 2rem;
    border-right: 1px dotted #333;
  }
}

form {
  li {
    list-style-type: none;
  }
  label.label {
    background-color: initial;
    color: #666;
    font-size: 1.1rem;
  }
}

// header
.grid-container {
  margin: 0.688em 0.688em 0 0.688em;
  border-top: 2px solid #444;
  border-right: 2px solid #444;
  height: 100%;
  border-left: 2px solid #444;
  z-index: 999;
}

header {
  .before {
    height: 1px;
  }
  
  &.type1 {
    background: url(image_path('top_image1.jpg')) no-repeat top center;
  }
  &.type2 {
    background: url(image_path('top_image2.jpg')) no-repeat top center;
  }
  &.type3 {
    background: url(image_path('top_image3.jpg')) no-repeat top center;
  }
  background-color: $pastel-blue;
//  background-size: cover;
  height: 400px;

  top: 0;
  // position: absolute;
  width: 100%;
  
  .logo {
    margin: 5.625rem 0 2.5rem 0;
  }
  
  .top-bar {
    background: url(image_path('menu_module.png')) repeat-x;

    margin-top: -37px;
    height: 75px;
    

    a {
      text-transform: uppercase;
      font-size: 1rem;
      color: #444;
      &:hover {
        color: $blue_hover;
      }
    }
  }
  
}

.hor-container {
  z-index: 999;
  border-left: 2px solid #444;
  border-right: 2px solid #444;
  margin: 0 0.688em;
  height: 75px;
  .row {
    padding-top: 0.8rem;
    &.down_arrow {
      padding-top: 0; 
      img {
        vertical-align: top;
      }
    }
    .social_icons {
      padding-top: 0.8rem;
    }
  }
}
.main-container {
  border-left: 2px solid #444;
  border-right: 2px solid #444;
  border-bottom: 2px solid #444;
  margin: 0 0.688em 0.688em 0.688em;

  padding-bottom: 3rem;
  padding-top: 80px;
  
}

footer {
  .contact_info {
    background-color: #fad1cb;
    padding: 1.5rem 0;
  }
  
  clear: both;
  background-color: $beige;

  .logo_strips {
    padding: 1.5rem 0;
  
    .footer_title {
      padding: 1.5rem 0;
    }
    .partners {
    
      a {
        padding: 0 1rem;
      }
    }
  }
}

.container_404 {
  .columns {
    padding: 7rem 0;
    margin-bottom: 1rem;
    img {
      margin-right: 25px;
    }
    h2 {
      padding-top: 55px;
      font-size: 2rem;
      color: #444;
    }
    p {
      color: #666;
      font-size: 0.9rem;
    }
  }
}
