@import 'variables';

.call_container {
  margin: 1rem 0;
  
  .small_heading {
    font-size: 0.938rem;
    text-transform: uppercase;
    line-height: 1.2rem;
    color: $turq;
  }
  
  h1 {
    font-size: 2.063rem;
    color: #444;
  }
  .navigator {
    ol {
      margin: 0; padding: 0;
      color: $turq;
      li {
        list-style-position: inside;
        color: $turq ;
        margin-bottom: 0.3rem;
        a {
          font-size: 0.938rem;
          padding-bottom: 0.2rem;
          line-height: 1.5rem;
          color: $turq;
        }
        border-bottom: 1px solid $turq;
      }
      
    }
  }
  
  .call_text, .call_text p {
    font-size: 0.938rem;
    line-height: 1.5rem;
    padding-top: 0.4rem;

    color: #444;
  }
  
  .left_heading {
    font-size: 0.938rem;
    padding-bottom: 0.2rem;
    line-height: 1.5rem;
    color: $turq;
    border-bottom: 1px solid $turq;
  }

  .just_border {
    border-bottom: 1px solid #222;
    padding-bottom: 0rem;
    margin-bottom: 2.5rem;
    line-height: 1.4rem;
  }
  
  a.button.application {
    margin-top: 1rem;
    border: 3px solid $turq;
    background-color: white;
    padding: 9px 25px;
    text-transform: uppercase;
    color: $turq;
    font-weight: 300;
    font-size: 1.2rem;
  }
  
}

.application {
  
  .form_label {
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
    line-height: 1.5rem;
    color: $turq;
    border-bottom: 1px solid $turq;
  }
  .left_form {
    padding-left: 0;
  }
  .hint {
    font-size: 0.8rem;
    font-style: italic;
    color: #b6b6b6;
    padding-top: 0.4rem;
  }
  

  
  form {
    .row {
      margin-bottom: 1.8rem;
      &.has_topline {
        .left_form {
          padding-top: 0.8rem;
        }
        .end {
          li.text {
            padding-top: 2.5rem;
            border-top: 1px solid black;
          }
        }
      }
    }
    
    textarea {
      height: 135px;
    }
    li.error {
      input, textarea  {
        border: 2px solid red;
      }

    }
  
    input[type=text], textarea, select {
      background-color: $formpink;
      border: none;
      outline: none;
      &:outline, &:active, &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
    
    label.file {
      position: relative;
      margin: 10px 0px;
      display: inline-block;
      span {
        border: 3px solid $turq;
        background-color: white;
        padding: 9px 25px;
        text-transform: uppercase;
        color: $turq;
        font-weight: 300;
        font-size: 1.2rem;
      }
      input[type=file] {
        position: fixed;
        left: -1000px;

      } 
      .selected_file {
        float: right;
        margin-left: 15px;
        font-weight: 300;
      }
    }
    
    .submit_container {
      margin-top: 2rem;
    }
   
    input[type=submit].application {
    
      border: 3px solid $turq;
      background-color: white;
      padding: 9px 25px;
      text-transform: uppercase;
      color: $turq;
      font-weight: 300;
      font-size: 1.2rem;
    }
    
  }
}