@import 'variables';

@media only screen and (max-width: 40em)  { 
  
  header.field_notes {
    nav.top-bar {
      select {
        background-color: #d2d6e8;
      }
    }
  }
  nav.top-bar {
    .hor-container {
      .row {
        padding-top: 0;
      }
      .menu_wrapper, .down_arrow_wrapper {
        float: left;
        left: 0;
        .rest {
          width: 100%;
        }
        ul.top-bar-menu {
          left: 0;
          padding-top: 0.2rem;
          li {
            padding: 0 0.3rem;
            a {
              font-size: 0.85rem;
            }
          }
        }
      }
    }
  }
}

