
header.investigations  {

  nav.top-bar {
    background: url(image_path('menu_module_investigations.png')) repeat-x;
    .down_arrow_wrapper {
      ul.top-bar-menu {
        li {
          &.active { background: url(image_path('selected_down_investigations.png')) no-repeat center center; }
        }
        .together {
          &.active {
            background: url(image_path('selected_down_investigations.png')) no-repeat center center; 
          }
        }
      }
    }

    .menu_wrapper, .down_arrow_wrapper {
      .social {
        img {
          -webkit-filter: invert(1);
          filter: invert(1);
        }
      }
     ul.top-bar-menu {
       li {
        font-weight: bold;
         select {
           background-color: #4d4d4d;
           color: #FFF;
           font-weight: bold;
         }
         a {
           color: #FFF;
         }
       }
     }
   }
  }
}

  
#sticky_investigations_box {

  background-color: #26aee5;
  color: black;
  cursor: pointer;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  .heading {
   cursor: move;
   font-size: 0.875em;
   
    span.white {
      color: #FFF;
    }
    
  }
  .title_box {
    border-top: 2px solid #000;

    .title {
      a { color: #FFF; }
      font-weight: 300;
      font-size: 0.938em;
      padding: 2.25rem  0 0 0;
      text-transform: uppercase;
    }

  }
  .blurb {
    padding: 1rem 0.75rem;
    font-size: 0.875rem;

    a {
      color: #FFF;
    }
  }
}





footer._investigations {
  .arrow {
    .down_arrow {
      margin-top: -1px;
    }
  }
  .drawer {
    background-color: #4d4d4d;
    color: #ffffff;
  }
  .contact_info {
    background-color: #e1e0e0;
  }
}


@media only screen and (max-width: 40em)  { 
  
  header.investigations {
    nav.top-bar {
      select {
        color: #FFF;
        background-color: #4d4d4d;
      }
    }
  }
  nav.top-bar {
    .hor-container {
      .row {
        padding-top: 0;
      }
      .menu_wrapper, .down_arrow_wrapper {
        float: left;
        left: 0;
        li.select_menu {
          line-height: initial;
          margin-top: 10px;
        }
        .secondary_nav_select {
          margin-top: 28px;
        }
        .rest {
          width: 100%;
        }
        ul.top-bar-menu {
          left: 0;
          padding-top: 0.2rem;
          li {
            padding: 0 0.3rem;
            a {
              font-size: 0.85rem;
            }
          }
        }
      }
    }
  }
  
  .investigations_box {
    margin-top: 51px;
    border-top: 1px solid black;
    background-color: #26aee5;
    color: black;
    font-family: Roboto, sans-serif;
    a {
      color: #FFF;
    }
    .hidden_announcements {
      display: none;
      border-left: 2px solid #444;
      border-right: 2px solid #444;
      margin: 0 0.688em;
    }
    .row {
      border-bottom: 1px solid black;
      padding: 0.8rem 0;
      overflow: hidden;
    }

    .titlex {
      font-size: 0.938rem;
      a {
        color: black;
        
      }
    }
    .blurb_mobile {
      font-size: 0.8rem;
    }
  }
  
  
}


