@media only screen and (max-width: 40em)  { 
  
  header {
    &.type1 {
      background: url(image_path('mobile_top_image1.png')) no-repeat top center;
    }
    &.type2 {
      background: url(image_path('mobile_top_image2.png')) no-repeat top center;
    }
    &.type3 {
      background: url(image_path('mobile_top_image3.png')) no-repeat top center;
    }
    height: 175px;
    .logo-container {


      .logo {
        margin: 1.625rem auto 1.2rem auto;
      }
    }
    
    .top-bar {
      a {
        font-size:  0.8rem;
      }
    }
  }
  
  
}