@import 'variables';

@media only screen and (max-width: 40em)  { 
  header {
    nav.top-bar {
      height: inherit;
      
      .hor-container {
        height: inherit;
      }
      
      .menu_wrapper {
        margin-top: 0.25rem;
        select {
          font-size: 11px;
          word-wrap: break-word;
        }
      }
      
      select {
        margin: 0; padding: 0 1.2rem 0 0;
        background-color: $topbarpink;
        text-transform: uppercase;
        font-size: 0.87rem;
        color: #444;
        outline: none;
        height: 25px;
        -webkit-appearance:none;
        font-weight: bold;
        border: none;
        &:active, &:focus, &:hover {
          outline: none;
          border: none;
        }
      }
      
    }

  }
  
  .fnbox {
    background-color: #8F7BAF;
  }
  .invitations_box {
    background-color: #ba3245;
    font-size: 0.8rem;
  }
  .fnbox, .invitations_box {
    margin-top: 51px;
    border-top: 1px solid black;

    color: black;
    font-family: Roboto, sans-serif;
    .row {
      border-bottom: 1px solid black;
      padding: 0.8rem 0;
      overflow: hidden;
    }
    a {
      color: #FFF;
    }
  }
  
  .blue_announcements {
    margin-top: 51px;
    border-top: 1px solid black;
    background-color: $darkerturq;
    color: black;
    font-family: Roboto, sans-serif;
    a {
      color: #FFF;
    }
    .hidden_announcements {
      display: none;
      border-left: 2px solid #444;
      border-right: 2px solid #444;
      margin: 0 0.688em;
    }
    .row {
      border-bottom: 1px solid black;
      padding: 0.8rem 0;
      overflow: hidden;
    }

    .titlex {
      font-size: 0.938rem;
      a {
        color: black;
        
      }
    }
    .blurb_mobile {
      font-size: 0.8rem;
    }
  }
  
  .magellan-scrollnav [data-magellan-expedition] {
    max-width: initial;
    left: 0;
    top: 0 !important;
    background-color: white;
    border-bottom: 1px solid #444;
    
    .sub-nav {
      a {
        line-height: 1rem;
      }
    }
    dl {
      li {
        float: left;
        width: initial;
        margin-bottom: 0;
        a {
          font-size: 0.8rem;
        }
      }
    }
  }

  #map_container {
    .inner_container {
      #map_left {
        display: none;
      }
      #map_right {
        background: url(image_path('map_transp_mobile.png')) no-repeat right 840px #dbd9d9;
        width: 100%;
        float: left;

        
        .partner_location {
          position: relative;
          font-size: 0.8rem;
          float: right;
          clear: both;
          cursor: pointer;
          .left_text {
            float: left;
            margin-right: 3px;
          }
          &.kilpisjarvi {
            top: 1325px;
            right: 82px;
            .caption {
              width: 177px;
            }
          }
          &.nikolai {
            top: 1574px;
            right: 62px;
            .caption {
              width: 119px;
            }
          }
          &.malmo {
            top: 1572px;
            right: 45px;
            .caption {
              width: 122px;
            }
          }    
          &.helsinki {
            top: 1532px;
            right:0px;
            .caption {
              width: 119px;
            }
          } 
          &.forumbox {
            top: 1534px;
            right: 0px;
            .caption {
              width: 119px;
            }
          }
          &.itu {
            top: 1572px;
            left: 3px; 
            .caption {
              width: 184px;
            }
          }
          &.grenland {
            top: 1524px;
            right: 98px; 
            .caption {
              width: 131px;
            }
          }
          
        }
      }
      #activity_map_wrapper {
        padding: 0.2rem;
        
        table.vertical-line {
          
          tr.activity_row {
            td.circle {
              min-width: 55px;
            }
            td.activity_entry {
              margin-left: 2px;
              .arrow_left {
                min-width: 21px;
              }
              .activity_box {
                width: 200px;
              }
            }
          }
        }
      }
    }
  }  
    
  .main-container {
    padding-top: 15px;
    &.field_notes {
      padding-top: 20px;
    }
  
    .post_single_container, .post_container {
      
      .post {

        .post_info {
          .title {
            font-size: 1.4rem;
            line-height: 1.9rem;
          }
        }
        padding: 1rem 0;
        .image_carousel {
          .slick-next, .slick-prev {
            display: none !important;
          }
          ul.slick-dots {
            position: relative  ;
            text-align: left;
            margin: 0.5rem 0 0 0;
            bottom: 0;
            padding: 0;
            li {
              width: 45px;
              height: 45px;
              margin: 0 0.5rem 0.5rem 0px;
              border: 2px solid #333;
              &.slick-active {
                border: 2px solid #999;
              }
            }
          }
        }
      }
    }
    
  }
  header {
    .image_credit {
      font-size: 0.6rem;
    }
    &.type1 {
      background: url(image_path('mobile_top_image1.png')) no-repeat top center;
    }
    &.type2 {
      background: url(image_path('mobile_top_image2.png')) no-repeat top center;
    }
    &.type3 {
      background: url(image_path('mobile_top_image3.png')) no-repeat top center;
    }
    height: 175px;
    .logo-container {


      .logo {
        margin: 1.625rem auto 1.2rem auto;
      }
    }
    
    .top-bar {
      height: 50px;
      a {
        font-size:  0.65rem;
      }
      .hor-container {
        height: 50px;
        .row {
          padding-top: 0.45rem;
        }
      }
    }
  }
  
}