@import 'variables';

.post_container {
  margin: 0;
  
  .blue_category_bar {
    background-color: $turq;
    color: white;
    padding: 0.8rem;
  }
}

.post_single_container {
  margin: 0;
  .post {
    border-bottom: none;
  }
}
  
.post {
  padding: 3.75rem 0;
  .body, .body p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: #222;
    font-weight: 300;

  }
  .post_paginator {
    margin-top: 1rem;
    float: left;
    border: 3px solid #333;
    color: #333;
    &.noright {
      border-right: none;
    }
    letter-spacing: 0.3rem;
    a { color: #333; &:hover { color: $turq; } }
    padding: 0.2rem 0.65rem; 
    text-transform: uppercase;
    font-size: 1rem;
  }
  border-bottom: 2px solid black;
  &.last {
    border-bottom: none;
  }
  
  .image_carousel {
    margin-top: 1rem;
    
    .thumb {
      display: none;
    }

    ul.slick-dots {
      bottom: -110px;
      height: 100px;
      text-align: left;
      margin: 0;
      padding: 0;
      li {
        width: 100px;
        height: 100px;
        margin: 0 0.5rem 0px 0px;
        border: 2px solid #333;
        &.slick-active {
          border: 2px solid #999;
        }
      }
      
    }
    
    .slick-list {
      .slick-track {
        .slide {
          &.slick-active {
            img {
              border: 3px solid #444;
            }
          }
        }
      }
    }
  }
  .post_info {
    .blue_heading {
      color: $turq;
      font-size:  0.938rem;
      line-height: 1.5rem;
      text-transform: uppercase;
      font-weight: 300;
      a { 
        color: $turq;
        &:hover {
          color: $darkerturq;
        }
      }
    }
    .title {
      font-size: 2.063rem;
      color: #444;
      a { color: #444;
      }
    }
    .date {
      color: #999;
      font-style: italic;
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }

  }
}

.slick-next, .slick-prev {
  height: inherit;
  width: inherit;
  top: 25%;
}
.slick-prev {
  left: -3rem;
}

.slick-next {
  right: -4rem;
}
.slick-prev:before, .slick-next:before { font-family: "Roboto"; font-size: 10rem; font-weight: 100; line-height: 1; color: black !important; opacity: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { content: "›"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "›"; }
[dir="rtl"] .slick-next:before { content: "‹"; }
  
