
@import 'variables';



header.symposium  {

  nav.top-bar {
    background: url(image_path('menu_module_s.png')) repeat-x;
    
    .hor-container .menu_wrapper ul.top-bar-menu, .hor-container .down_arrow_wrapper ul.top-bar-menu {
      left: calc(21% - 110px);
      
    }
    .down_arrow_wrapper {
      ul.top-bar-menu {
        li {
          &.active { background: url(image_path('selected_down_s.png')) no-repeat center center; }
        }
        .together {
          &.active {
            background: url(image_path('selected_down_s.png')) no-repeat center center; 
          }
        }
      }
    }
    .menu_wrapper, .down_arrow_wrapper {
     .together {
       margin-right: 1.04rem;
     }
     ul.top-bar-menu {
       li {
         select {
           background-color: #bed4e1;
           color: #000;
         }
         a {
           color: #000;
         }
       }
     }
   }
  }
  }
footer._s {
  .arrow {
    .down_arrow {
      margin-top: -1px;
    }
  }
  .drawer {
    background-color: #bed4e1;

  }
}
#sticky_symposium_box {

  background-color: #155ee1;
  color: black;
  cursor: pointer;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  .heading {
   cursor: move;
   font-size: 0.875em;
   
    span.white {
      color: #FFF;
    }
    
  }
  .title_box {
    border-top: 2px solid #000;

    .title {
      a { color: #FFF; }
      font-weight: 300;
      font-size: 0.938em;
      padding: 2.25rem  0 0 0;
      text-transform: uppercase;
    }

  }
  .blurb {
    padding: 1rem 0.75rem;
    font-size: 0.875rem;

    a {
      color: #FFF;
    }
  }
}

@media only screen and (max-width: 40em)  { 
  header.symposium {
    nav.top-bar {
      select {
         background-color: #bed4e1 !important;
       }
      .hor-container {
        .row {
          padding-top: 0;
        }
        .menu_wrapper, .down_arrow_wrapper {
          float: left;
          left: 0;


          li.select_menu {
            line-height: initial;
            margin-top: 27px;
            list-style-type: none;
          }
          .secondary_nav_select {
            margin-top: 28px;
          }
          .rest {
            width: 100%;
          }
          ul.top-bar-menu {
            left: 0;
            padding-top: 0.2rem;
            li {
              padding: 0 0.3rem;
              a {
                font-size: 0.85rem;
              }
            }
          }
        }
      }
    }  
  }
  
  .symposium_box {

    background-color: #155ee1;
    margin-top: 51px;
    border-top: 1px solid black;
    color: black;
    font-family: Roboto, sans-serif;
    a {
      color: #FFF;
    }
    .hidden_announcements {
      display: none;
      border-left: 2px solid #444;
      border-right: 2px solid #444;
      margin: 0 0.688em;
    }
    .row {
      border-bottom: 1px solid black;
      padding: 0.8rem 0;
      overflow: hidden;
    }

    .titlex {
      font-size: 0.938rem;
      a {
        color: black;
        
      }
    }
    .blurb_mobile {
      font-size: 0.8rem;
    }
  }
}