.heading.ui-draggable-handle
  .left.text-left PROGRAMME
  .text-right NOV-DEC 2016
.title_box.text-center
  .title= link_to 'HYBRID MATTERS EXHIBITION III', '/forumbox'
  
.blurb.text-center
  touring exhibition in Helsinki