.heading.ui-draggable-handle
  .left.text-left PROGRAMME
  .text-right NOV-DEC 2016
.title_box.text-center
  .title= link_to 'HYBRID MATTERs at FORUM BOX', '/forumbox'
  
.blurb.text-center
  24th November until 18th December