.heading.ui-draggable-handle
  .left.text-left PROGRAMME
  .text-right MARCH 2016
.title_box.text-center
  .title= link_to 'HYBRID MATTERS EXHIBITION I', '/grenland'
  
.blurb.text-center
  touring exhibition in Porsgrun