.heading.ui-draggable-handle
  .left.text-left PROGRAMME
  .text-right MARCH 2016
.title_box.text-center
  .title= link_to 'HYBRID MATTERs at Kunsthall Grenland ', '/grenland'
  
.blurb.text-center
  19th March until 8th May