.heading.ui-draggable-handle
  .left.text-left PROGRAMME
  .text-right MAY-JUL 2016
.title_box.text-center
  .title= link_to 'HYBRID MATTERs at Nikolaj Kunsthal', '/nikolaj'
  
.blurb.text-center
  19th May until 31st July"